{{!-- post sample --}}
<div class="postWrapper">

    {{!-- top part --}}
    <div class="postHeader">
        <div class="postTitle">
            <h1>Post Title</h1>
        </div>
        <div class="postDate">
            <p>Posted by Author on x/x/xxxx</p>
        </div>
    </div>

    {{!-- post body --}}
    <div class="postContainer">
        <h2 class="postContent">post content</h2>
    </div>
</div>