{{#if posts.length}}
  {{#each posts}}
    {{!-- post sample --}}
    <div class="postWrapper">
  
      {{!-- top part --}}
      <div class="postHeader">
        <div class="postTitle">
          <h1>{{title}}</h1>
        </div>
        <div class="postDate">
          <p>Posted by {{user.username}} on {{format_date createdAt}}</p>
        </div>
      </div>
  
      {{!-- post body --}}
      <div class="postContainer">
        <h2 class="postContent">{{content}}</h2>
      </div>
    </div>
  {{/each}}
{{/if}}
