<div class="centerWrapper">
  <div class="formHeader">
    <h1>Log in</h1>
  </div>
  <div class="formContainer">
    <form id="login-form" class="form">
      <div class="field">
        <input class="input" type="text" name="username" placeholder="username" />
      </div>
      <div class="field">
        <input class="input" type="password" name="password" placeholder="password" />
      </div>
      <button type="submit" class="submitBtn">Log in</button>
    </form>
    <a href="/login">Already have an account? Log in</a>
  </div>
</div>
