<div class="centerWrapper">
  <div class="formHeader">
    <h1>Log in</h1>
  </div>
  <div class="formContainer">
    <form id="login-form" class="form">
      <div class="field">
        <p>Username</p>
        <input class="input" type="text" name="username" placeholder="username" />
      </div>
      <div class="field">
        <p>Password</p>
        <input class="input" type="password" name="password" placeholder="password" />
      </div>
      <button type="submit" class="submitBtn">Log in</button>
    </form>
    <a href="/signup">Don't have an account? Sign up</a>
  </div>
</div>

<script src="/js/login.js"></script>