:root {
  --primary-color: rgb(49, 49, 49);
  --secondary-color: #6495ED;
  --background: #d6d1d1;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: var(--background);
}


/* post styles */
.postHeader {
  display: flex;
  justify-content: space-between;  
  align-items: center;
  width: 90%; /* Increased width */
  max-width: 800px; /* Increased max-width */
  background-color: var(--primary-color);
  color: white;
  padding: 10px;
  box-sizing: border-box;
}

.postTitle {
  margin: 0;
  padding-left: 10px;
}

.postDate {
  margin: 0;
}

.postWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.postContainer {
  width: 90%; /* Increased width */
  max-width: 800px; /* Increased max-width */
  padding: 20px; /* Added padding value */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border: 5px solid var(--primary-color);
  background-color: white;
  margin: 0;
  box-sizing: border-box; 
}




/* form styles */
.form {
  display: flex;
  flex-direction: column;
  gap: 10px; 
}

.formHeader {
  width: 530px; 
  text-align: center;
  background-color: var(--primary-color);
  color: white;
  padding: 10px;
}

.field {
  width: 100%;
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  box-sizing: border-box;
}

.submitBtn {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: white;
  cursor: pointer;
}

.signupBtn:hover {
  background-color: var(--secondary-color);
}

.centerWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.formContainer {
  width: 70%;
  max-width: 500px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border: 5px solid var(--primary-color);
  background-color: white;
  margin: 0;
}



/* nav styles */
.navTitle {
  background-color: var(--secondary-color);
  padding: 10px;
  margin: 15px;
  margin-left: 40px;
  text-align: center;
  width: auto;
  display: inline-block;
  border-radius: 15px;
  box-shadow: 4px 4px 8px rgb(0, 120, 255);

}

.techLogo {
  font-size: 24px;
  color: white;
  margin: 0;
}

.nav {
  background-color: var(--primary-color);
}

.nav-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.nav-item {
  margin-right: 10px;
}

.nav-link {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  display: block;
}

.nav-link:hover {
  color: var(--secondary-color);
}